{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": false,
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 100,
  "quoteProps": "consistent"
}
